//Base colors

$white: #FFFFFF;
$offWhite: #F5F5F5;
$gray: #666666;
$lightGray: #D8D8D8;
$darkBlue: #242536;
$mediumGray: #5A6563;
$red: #F44336;
$yellow: #FCBA25;
$green: #8BC34A;
$blue: #2196F3;
$brown: #683010;
$blueGray: #4F505E;
